# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual Environment
venv/
env/
.venv/

# Streamlit
.streamlit/

# Data Files
data/
tmp_sessions/
*.csv
*.xlsx


# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Build
dist/
build/

# Temporary
temp/
tmp/